<!DOCTYPE html>
<html>
  <head>
    <title>report bug</title>
  </head>
  <body>
    <form>
        <h1>report bug</h1>
        <label>related url:</label> <input name="relatedUrl" value="{{ relatedUrl }}" type="url"/>
        <div>(must be below {{ baseUrl }})</div>
        <input value="report bug" type="submit"/>
    </form>
    <div>When you have to sign in on github, click "back" after and then "F5" to fill in the bug data.</div>
    <a href="{{ directLink }}">report bug only with version prefilled</a>
  </body>
</html>
